@import "./banner.css";
@import "./where-to-start.css";

:root {
    --background: #171717
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: white;
}